body {
	margin: 0;
	padding: 0;
}
ul {list-style: none;}
.hide-block {
	display: none;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
.icon.sin-wexin {
	width: 2em;
	height: 2em;
}


.login-wrap {

}
.login-form {
	padding: 100px 35px 0 20px;
	.login-tit {
		padding: 20px;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}
	.btn-wrap {
		padding: 20px 16px;
	}
	.err {
		height: 26px;
		padding: 0 15px;
		color: #f00;
		font-size: 14px;
		opacity: 0;
		&.show-err {
			opacity: 1;
		}
	}
}
.login-vcode {
	.weui-cell__ft {
		flex:  0 0 115px;
		.weui-vcode-btn {
			width: 100%;
		}
	}
}

.login-other {
	padding: 20px;
	text-align: center;
	>p {
		margin: 10px 0;
	}
	span {
		display: inline-block;
	}
	.spel {
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: #eee;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -1px;
			z-index: -1;
		}
		span {
			position: relative;
			padding: 0 8px;
			background-color: #fff;
		}
	}
	.other-icons {
		position: relative;
		// &:before {
		// 	content: '';
		// 	width: 100%;
		// 	height: 1px;
		// 	background-color: #ccc;
		// 	position: absolute;
		// 	left: 0;
		// 	top: 50%;
		// 	margin-top: -1px;
		// 	z-index: -1;
		// }
		.sin-wexin {
			position: relative;
			z-index: 1;
		}
	}
}

.login-dialog {
	.weui-dialog {
		max-width: 80%;
	}
	.weui-dialog__bd {
		font-size: 13px;
	}
	.weui-vcode-btn {
		font-size: 14px;
	}
}